:root {
  --gt-red: #e11d48;
  --gt-red-hover: #be123c;

  --gt-dark: #0f172a;
  --gt-dark-surface: #1e293b;

  --gt-white: #ffffff;
  --gt-light: #f8fafc;

  --gt-text-main: #0f172a;
  --gt-text-muted: #64748b;

  --gt-yellow: #fbbf24;

  --gt-border: #e2e8f0;

  --gt-success: #10b981;
  --gt-danger: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  font-family:
          Inter,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          sans-serif;

  background: #f1f5f9;
  color: var(--gt-text-main);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.p-component {
  font-family: inherit !important;
}

.p-card {
  border-radius: 20px !important;
  overflow: hidden;
  border: 1px solid var(--gt-border) !important;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.05) !important;
}

.p-button {
  border-radius: 12px !important;
  font-weight: 700 !important;
}

.p-inputtext {
  border-radius: 12px !important;
}

.p-inputtext:focus {
  border-color: var(--gt-red) !important;
  box-shadow: 0 0 0 3px rgba(225, 29, 72, 0.15) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
}

.p-datatable {
  border-radius: 18px;
  overflow: hidden;
}

.p-datatable-thead > tr > th {
  background: #f8fafc !important;
  color: #334155 !important;
  font-weight: 800 !important;
  border: none !important;
}

.p-datatable-tbody > tr {
  transition: 0.2s;
}

.p-datatable-tbody > tr:hover {
  background: #f8fafc !important;
}

.pi {
  font-family: 'primeicons' !important;
}

.pi::before {
  font-family: 'primeicons' !important;
}